

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


[class^='col-'] {
	float: left;
	padding: 0; 
}


.col-5of10 {
	width: 50%;
}


@media (max-width: 50em) {

	.col-5of10 {
		width: 100%;
	}

}

.col-2of10 {
	width: 20%;
}

@media (max-width: 50em) {

	.col-2of10 {
		width: 100%;
	}

}

.col-3of10{
	width: 33.3%;
}

@media (max-width: 50em) {

	.col-3of10 {
		width: 100%;
		margin-top: 0;
	}

}

.col-4of10{
	width: 25%;
}

@media (max-width: 50em) {

	.col-4of10 {
		width: 100%;
	}

}

.grid:after {
	content: "";
	display: block;
	clear: both;
}



