*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 150%;
  -webkit-appearance: none;
}

h1, h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;

}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
  clear: both;
}

section h3 {
  margin-bottom: 0;
}
section p {
  margin-top: 0;
}

a.button {
  padding: 0.5em 0.75em;
  color: white;
  background-color: #0C9848;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

a.button:hover, a.button:focus {
  color: white;
  background-color: #00796b; /*teal*/
}


ul {
  list-style: none;
}

.image img{
  width: 50%;
  height: auto;
}

.thumbnail img{
  width: 80%;
}


#image img:hover{
  opacity: 0.4;

}

.input-wrapper {
  margin: 0 0 1em 0; 
}

ul, menu, dir {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}


a.menu:hover{
  color: white;
  background-color: #0C9848; 
}
.colorContainer{
  position:relative;
  overflow-x:auto;
  overflow-y:hidden;
  white-space: nowrap;
}

input.button{
  display: inline-block;
  padding: 0.5em 0.75em;
  color: white;
  background-color: #0C9848;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  border:none;
  border-radius:0.2em;
}

input.button:hover, input.button:focus {
  color: white;
  background-color: #0C9000;
}

.textBox{
	width: 80%;
	height: 2em;
}

.textBox:focus{
	transition: 0.5s ease-out;
	box-shadow: 0 0 5px #00796b;

}

.colorText{
	margin-top: 10em;
	color: #0C9848;
	white-space: pre-line;
  text-decoration: none;
}

.colorText:hover{
	color:  #00796b;
	border-bottom:1px solid #00796b;
}

select{
	width: 80%;
	height: 2rem;
	margin-bottom: 1em;
	font-size: 1em;
}

select:focus{
	transition: 0.5s ease-out;
	box-shadow: 0 0 5px #00796b;
}


.textBox1{
  width: 30%;
  height: 2em;
}

.textBox1:focus{
  transition: 0.5s ease-out;
  box-shadow: 0 0 5px #00796b;
}
.textBox2{
  width: 30%;
  height: 5em;
  display: block;
  margin-bottom: 2em;
}
.textBox2:focus{
  transition: 0.5s ease-out;
  box-shadow: 0 0 5px #00796b;
}

@media (max-width: 50em) {
	.textBox1  {
		width: 100%;
	}
	.textBox2  {
		width: 100%;
	}
}




.underlineTotal{
	border-top: 1px solid #666;
  position: relative;
  width: 50%;
}



nav a {
  width: 100%;
  text-decoration: none;
}


nav a, nav a:visited {
  display: inline-block;
  color:  #0C9848;
  padding: 1em 1.25em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

nav a:hover {
  color: white;
  text-decoration: none;
  background-color: #0C9848;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.col-2of10{
  width: 100%;
  text-align: center;
}
.col-6of10{
  text-align: center;
  text-decoration:none;
}
.col-6of10Copy{
  text-align: center;
}

.col-3of10 img{
  width: 100%;
  height:auto;
}
.footer{
	text-align: center;
}
/* Used mainly for the footer */



.col-3of10-footer{
  text-align: center;
}

.col-4of10 img{
  width: 100%;
}
.col-5of10 img{
  text-align: left;
  width:100%;
}

.col-5of10 h2{
  margin-left: 5%;
}
.col-5of10 p{
  text-align: left;
  margin-left: 5%;
}

.col-5of10 .button{
  float: left;
}

.col-5of10-home img{
  width: 100%;
}

.col-5of10-home h2{
  padding-left: 3%;
}

.col-5of10-home p{
  padding-left: 3%;
}
.col-5of10-about img{
  width: 100%;
}

.col-5of10-about h2 p{
  margin-right: 10%;
}


.col-3of10 .indexFeatureImage{
  width: 100%;
  height: 300px;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.indexFeatureImage:hover{
	opacity:0.4;
}

#map-canvas{
  float: right;
}


.col-1of10-home{
  background-image: url("../img/homeImage.jpg"); 
  height: 500px;
}



.col-1of10-home .col-3of10 h2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.col-1of10-home .col-3of10 p{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.col-1of10-consult{
  background-image: url("../img/consultImage.jpg"); 
  height: 750px;
}

.col-1of10-consult .col-3of10 h2{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
}

.col-1of10-consult .col-3of10 p{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
}

.col-1of10-about{
  background-image: url("../img/about.jpg"); 
  height: 1000px;
}

.col-1of10-about .col-3of10 h2{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20%;
}

.col-1of10-about .col-3of10 p{
  margin-left: 20%;
  margin-right: 20%;
}

