<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: About Us</title>
    <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id = "logo">
        <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

  
  <nav class="grid">

        <div class="col-2of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-2of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-2of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-2of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-2of10">
          <a href="login.html" class="red">LogIn</a>
        </div>

  </nav>
    <section class = "about">
      <div class= "aboutImage">
        <img src="img/about.jpg">
        <h2>About Us</h2>
        <p>The Terrace is an Interior Design Studio that brings simple design furnitures and simple interior design. By inspiring from the Zen Aesthetics from Japan, which is the art of traditional Japanese gardens, we hope to bring naturalness and simplicity to the interior. Our goal is to bring elements from the nature and embed to the interior design, therefore, it creates a sense of harmony of the nature. </p>
       </div>
    </section>

    <div class = "contact">
        <h2>Contact Us</h2>
        <p>Tel: 604-123-5678</p>
    </div>

     
  </body>
</html>