<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Billing</title>
    <link href="css/main.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div id = "logo">
        <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

	
    <nav>
      <ul class = "navbar">
        <li><a href="projects.html" class= "menu">Projects</a></li>
        <li><a href="consultation.html" class= "menu">Design Consultation</a></li>
        <li><a href="#" class= "menu">Store</a></li>
        <li><a href="about.html" class= "menu">About us</a></li>
        <li><a href="reviewOrder.html" class= "menu">Cart</a></li>
        <li><a href="login.html" class= "menu">Log In</a></li>
      </ul>
    </nav>
	
	<section>
		<div class = "col-5of10">
			<h2>Shipping Address</h2>
			<p>Full Name</p>
			<p><input type="text" name="username" class = "textBox" value=""></p>
			<p>Address 1</p>
			<p><input type="text" name="address1" class = "textBox" value=""></p>
			<p>Address 2</p>
			<p><input type="text" name="address" class = "textBox" value=""></p>
			<p>City</p>
			<p><input type="text" name="city" class = "textBox" value=""></p>
			<p>Province</p>
			
			<select>
				<option>-Please Select-</option>
				<option>Alberta</option>
				<option>British Columbia</option>
				<option>Manitoba</option>
				<option>New Brunswick</option>
				<option>Newfoundland and Labrador</option>
				<option>Northwest Territories</option>
				<option>Nova Scotia</option>
				<option>Nunavut</option>
				<option>Ontario</option>
				<option>Prince Edward Island</option>
				<option>Quebec</option>
				<option>Saskatchewan</option>
				<option>Yukon</option>
			</select>
			<p>Postal Code</p>
			<p><input type="text" name="postal" class = "textBox" value=""></p>
		</div>
	
		<div class = "col-5of10">
			<h2>Payment Method</h2>
			<p>Credit/Debit Card</p>
			<select>
				<option>-Please Select-</option>
				<option>Visa</option>
				<option>MasterCard</option>
			</select>
			<p>Credit Card Number</p>
			<p><input type="text" name="creditNumber" class = "textBox" value=""></p>
			<p>Month Expire</p>
			<select>
				<option>-Please Select-</option>
				<option>01</option>
				<option>02</option>
				<option>03</option>
				<option>04</option>
				<option>05</option>
				<option>06</option>
				<option>07</option>
				<option>08</option>
				<option>09</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
			</select>
			<p>Year Expire</p>
			<select>
				<option>-Please Select-</option>
				<option>2015</option>
				<option>2016</option>
				<option>2017</option>
				<option>2018</option>
			</select>
		</div>
	</section>

	<div>
		<a class="button" href="#">Checkout</a>
	</div>
	
  </body>

</html>
