<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<title>The Terrace: Billing</title>
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/grid.css">

	<link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class = "grid">
		<div class = "col-4of10">
			<a href="index.html"><img src="img/logo.png" alt="logo"></a>
		</div>
		
	</div>

	<div class="ham"></div>
	
	<nav class="grid">
		<div class="nav-toggle col-6of10Copy">
			<a href="#" id="menuText">Menu</a>
		</div>
		
		<div class="col-6of10">
			<a href="projects.html">Projects</a>
		</div>

		<div class="col-6of10">
			<a href="consultation.html" class="green">Design Consultation</a>
		</div>

		<div class="col-6of10">
			<a href="store.html" class="orange">Store</a>
		</div>

		<div class="col-6of10">
			<a href="about.html" class="purple">About us</a>
		</div>


		<div class="col-6of10">
			<a href="login.html" class="red">Log In</a>
		</div>

		<div class="col-6of10">
			<a href="reviewOrder.html" class="red">Cart</a>
		</div>

	</nav>
	
	<section>
		<div class = "col-5of10">
			<h2>Shipping Address</h2>
			<p>Full Name</p>
			<p><input type="text" name="username" class = "textBox" value=""></p>
			<p>Address 1</p>
			<p><input type="text" name="address1" class = "textBox" value=""></p>
			<p>Address 2</p>
			<p><input type="text" name="address" class = "textBox" value=""></p>
			<p>City</p>
			<p><input type="text" name="city" class = "textBox" value=""></p>
			<p>Province</p>
			
			<p>
				<select>
					<option>-Please Select-</option>
					<option>Alberta</option>
					<option>British Columbia</option>
					<option>Manitoba</option>
					<option>New Brunswick</option>
					<option>Newfoundland and Labrador</option>
					<option>Northwest Territories</option>
					<option>Nova Scotia</option>
					<option>Nunavut</option>
					<option>Ontario</option>
					<option>Prince Edward Island</option>
					<option>Quebec</option>
					<option>Saskatchewan</option>
					<option>Yukon</option>
				</select></p>
				<p>Postal Code</p>
				<p><input type="text" name="postal" class = "textBox" value=""></p>
			</div>
			
			<div class = "col-5of10">
				<h2>Payment Method</h2>
				<p>Credit/Debit Card</p>
				<p>
					<select>
						<option>-Please Select-</option>
						<option>Visa</option>
						<option>MasterCard</option>
					</select>
				</p>
				<p>Credit Card Number</p>
				<p><input type="text" name="creditNumber" class = "textBox" value=""></p>
				<p>Month Expire</p>
				<p>
					<select>
						<option>-Please Select-</option>
						<option>01</option>
						<option>02</option>
						<option>03</option>
						<option>04</option>
						<option>05</option>
						<option>06</option>
						<option>07</option>
						<option>08</option>
						<option>09</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
				</p>
				<p>Year Expire</p>
				<p><select>
					<option>-Please Select-</option>
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
				</select>
			</p>

			<p><a class="button" href="thanks.html">Checkout</a></p>
		</div>
		
	</section>

<section>
<section>
	<nav class="grid">
		<div class = "col-3of10"><a href="#">About</a></div>
		<div class = "col-3of10"><a href="#">Terms and Service</a></div>
		<div class = "col-3of10"><a href="#">Business</a></div>
	</nav>
	<p class="footer">© 2015 The Terrace</p>
</section>
	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
</body>

</html>
