<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Consultation</title>
    <link href="css/main.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div id = "logo">
       <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

	
    <nav>
      <ul class = "navbar">
        <li><a href="#" class= "menu">Projects</a></li>
        <li><a href="consultation.html" class= "menu">Design Consultation</a></li>
        <li><a href="#" class= "menu">Store</a></li>
        <li><a href="about.html" class= "menu">About us</a></li>
        <li><a href="reviewOrder.html" class= "menu">Cart</a></li>
        <li><a href="login.html" class= "menu">Log In</a></li>
      </ul>
    </nav>

    <section class = "consultation">
      <div class= "consultImage">
        <img src="img/consultImage.jpg">
        <h2>Consultation</h2>
        <p>We are not only selling furnitures. We also help you design your house. Our design will help you have a whole new perspective on Interior Design.
           If you are interested to our design, Please fill the form below and we will contact you for a consultation as soon as possible.</p>
       </div>
    </section>

      <h2>Leave your Contact</h2>
      <h3>Full Name</h3>
      <p><input type="text" name="name" class = "textBox1" value=""></p>
      <h3>E-Mail</h3>
      <p><input type="text" name="email" class = "textBox1" value=""></p>
      <h3>Phone number</h3>
      <p><input type="text" name="phone" class = "textBox1" value=""></p>

      <a class="button" href="#">Send</a>

     
  </body>
</html>