<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Consultation</title>
    <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>

  
  <nav class="grid">

        <div class="col-2of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-2of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-2of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-2of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-2of10">
          <a href="login.html" class="red">Log In</a>
        </div>
		
        <div class="col-2of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>
  </nav>
  
    <section class = "consultation">
      <div class= "consultImage">
        <img src="img/consultImage.jpg" alt = "consult">
        <h2>Consultation</h2>
        <p>We are not only selling furnitures. We also help you design your house. Our design will help you have a whole new perspective on Interior Design.
           If you are interested to our design, Please fill the form below and we will contact you for a consultation as soon as possible.</p>
       </div>
    </section>

      <h2>Leave your Contact</h2>
      <h3>Full Name</h3>
      <p><input type="text" name="name" class = "textBox1" value=""></p>
      <h3>E-Mail</h3>
      <p><input type="text" name="email" class = "textBox1" value=""></p>
      <h3>Phone number</h3>
      <p><input type="text" name="phone" class = "textBox1" value=""></p>

      <a class="button" href="#">Send</a>

     
  </body>
</html>