<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Terrace: Consultation</title>
    <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>
	
	<nav class="grid">
		<div class="nav-toggle col-6of10Copy">
			<a href="#" id="menuText">Menu</a>
		</div>
  

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html" class="red">Log In</a>
        </div>
		
        <div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>
  </nav>
  
    <section class = "grid">
      <div class= "col-5of10">
        <img src="img/consultImage.jpg" alt = "consult">
      </div>

      <div class= "col-5of10">
       <h2>Consultation</h2>
       <p>We are not only selling furnitures. We also help you design your house. Our design will help you have a whole new perspective on Interior Design.
           If you are interested to our design, Please fill the form below and we will contact you for a consultation as soon as possible.</p>
       </div>
    </section>

      <h2>Leave your Contact</h2>
      <h3>Full Name</h3>
      <p><input type="text" name="name" class = "textBox1" value=""></p>
      <h3>E-Mail</h3>
      <p><input type="text" name="email" class = "textBox1" value=""></p>
      <h3>Phone number</h3>
      <p><input type="text" name="phone" class = "textBox1" value=""></p>
	  <h3>Comments</h3>
	  <textarea class="textBox2" placeholder="Please place comment here"></textarea>
      <a class="button" href="#">Send</a>

    <script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
  </body>
</html>