<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Terrace: Consultation</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "grid">
    <div class = "col-4of10">
      <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>
    
  </div>

  <nav class="grid">
    <div class="nav-toggle col-6of10Copy">
     <a href="#" id="menuText">Menu</a>
   </div>
   <div class="col-6of10">
    <a href="projects.html">Projects</a>
  </div>

  <div class="col-6of10">
    <a href="consultation.html" class="green">Design Consultation</a>
  </div>

  <div class="col-6of10">
    <a href="store.html" class="orange">Store</a>
  </div>

  <div class="col-6of10">
    <a href="about.html" class="purple">About us</a>
  </div>


  <div class="col-6of10">
    <a href="login.html" class="red">Log In</a>
  </div>
  
  <div class="col-6of10">
    <a href="reviewOrder.html" class="red">Cart</a>
  </div>
</nav>

<section class = "grid">
  <div class= "col-5of10">
    <img src="img/project4.jpg" alt = "consult">
  </div>

  <div class= "col-5of10">
   <h2>Work Table</h2>
   <p>Designer: John Doe</p>
   <p>Year: 2014</p>
   <p>Japanese design brand MUJI has taken a bold step into architectural territory. A few years after a collaboration with Kengo Kuma to design two prefab houses, the company has come forth with a Vertical House in Tokyo. Streamlined and efficient, the home accommodates all the demands of residential living within a small plot of land.</p>

   <p>Specifications:</p>
   <p>Width: 150cm</p>
   <p>Height: 30cm</p>
   <p>Material: Maple Wood</p>
   <p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
 </div>
</section>

<section>
<section>
	<nav class="grid">
		<div class = "col-3of10"><a href="#">About</a></div>
		<div class = "col-3of10"><a href="#">Terms and Service</a></div>
		<div class = "col-3of10"><a href="#">Business</a></div>
	</nav>
	<p class="footer">© 2015 The Terrace</p>
</section>

	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
</body>
</html>