<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <title>The Terrace: Furniture Studio</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "grid">
    <div class = "col-4of10">
      <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

  </div>

  <nav class="grid">

    <div class="col-2of10">
      <a href="projects.html">Projects</a>
    </div>

    <div class="col-2of10">
      <a href="consultation.html">Design Consultation</a>
    </div>

    <div class="col-2of10">
      <a href="store.html">Store</a>
    </div>

    <div class="col-2of10">
      <a href="about.html">About us</a>
    </div>


    <div class="col-2of10">
      <a href="login.html">Log In</a>
    </div>

  </nav>

  <section class = "grid">
    <div class = "col-5of10-home">
      <img src="img/homeImage.jpg" alt = "home">
    </div>

    <div class = "col-5of10-home">
      <h2>The Terrace</h2>
    </div>      


  </section>

</body>
</html>
