<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Terrace: Furniture Studio</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  


</head>
<body>


  <div class = "grid">
    <div class = "col-4of10">
      <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

  </div>
  <nav class="grid">
  <div class="nav-toggle col-6of10Copy">
	<a href="#" id="menuText">Menu</a>
  </div>
  
    <div class="col-6of10">
      <a href="projects.html">Projects</a>
    </div>

    <div class="col-6of10">
      <a href="consultation.html">Design Consultation</a>
    </div>

    <div class="col-6of10">
      <a href="store.html">Store</a>
    </div>

    <div class="col-6of10">
      <a href="about.html">About us</a>
    </div>


    <div class="col-6of10">
      <a href="login.html">Log In</a>
    </div>
	
	<div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
    </div>
  </nav>

	<section class = "grid">
		<div class="col-1of10-home">
      <div class = "col-3of10">
        <h2>Residential Interior Design Consulting and Products for Your Home.</h2>
        <p>The Terrace is an Interior Design Studio that brings simple design furnitures and simple interior design. By inspiring from the Zen Aesthetics from Japan, which is the art of traditional Japanese gardens, we hope to bring naturalness and simplicity to the interior. Our goal is to bring elements from the nature and embed to the interior design, therefore, it creates a sense of harmony of the nature. </p>
      </div>

    </div>  
  </section>
  
	<div class="grid">
		<div class="col-3of10">
		  <p>Newest Items</p>
		  <a href="detailedProduct.html"><img class="indexFeatureImage" src="img/chair3.jpg" alt = "home"></a>
		  <div class="col-5of10">
			<p>Wooden Chair</p>
		   </div>
		  <div class="col-5of10">
			<p>$25</p>
		   </div>
		</div>
		
		<div class="col-3of10">
		  <p>Sale Items</p>
		  <a href="detailedProduct.html"><img class="indexFeatureImage" src="img/lamp1.jpg" alt = "home"></a>
		  <div class="col-5of10">
			<p>Simple Lamp</p>
		   </div>
		  <div class="col-5of10">
			<p>$250</p>
		   </div>
		</div>
		<div class="col-3of10">
		  <p>Latest Projects</p>
		  <a href="detailedProduct.html"><img class="indexFeatureImage" src="img/project4.jpg" alt = "home"></a>
		  <div class="col-5of10">
			<p>Cramped House</p>
		   </div>
		  <div class="col-5of10">
			<p>Designer: John Doe</p>
		   </div>
		</div>
	</div>
	
  <div></div>
</body>
	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
</html>
