<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Furniture Studio</title>
    <link href="css/main.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id = "logo">
        <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

  
    <nav>
      <ul class = "navbar">
        <li><a href="#" class= "menu">Projects</a></li>
        <li><a href="#" class= "menu">Design Consoltation</a></li>
        <li><a href="#" class= "menu">Store</a></li>
        <li><a href="#" class= "menu">About us</a></li>
        <li><a href="reviewOrder.html" class= "menu">Cart</a></li>
      </ul>
  </nav>
    
    <section class = "heading">
      <div class= "indexImage">
        <img src="img/homeImage.jpg">
        <h2>The Terrace <br /> The intersection of Arts and Furnitures</h2>
       </div>
     </section>

  </body>
</html>
