<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Style Guide</title>
    <link href="css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id = "logo">
       <img src="img/logo.png" alt="logo">
    </div>

	
    <nav>
      <ul class = "navbar">
        <li><a href="#" class= "menu">Projects</a></li>
        <li><a href="#" class= "menu">Design Consoltation</a></li>
        <li><a href="#" class= "menu">Store</a></li>
        <li><a href="#" class= "menu">About us</a></li>
      </ul>
    </nav>
	
	<section>
		<div>
			<div class = "col-5of10">
				<h2>Login</h2>
				<p>Username</p>
				<p><input type="text" name="username" class = "textBox" value=""></p>
				<p>Password</p>
				<p><input type="text" name="password" class = "textBox" value=""></p>
				<a class="button" href="#">Login</a>
				<a class = "colorText" href = "" style="text-decoration: none">Reset Password</a>
			</div>
			
			<div class = "col-5of10">
				<h2>Register</h2>
				<p>Username</p>
				<p><input type="text" name="username" class = "textBox" value=""></p>
				<p>Email</p>
				<p><input type="text" name="email" class = "textBox" value=""></p>
				<p>Password</p>
				<p><input type="text" name="password" class = "textBox" value=""></p>
				<p>Repeat Password</p>
				<p><input type="text" name="password" class = "textBox" value=""></p>
				<a class="button" href="#">Register</a>
			</div>
		</div>
	</section>
	
	
	
  </body>
	
  </body>
</html>
