<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Terrace: Log In</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "grid">
    <div class = "col-4of10">
      <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>
    
  </div>

  <nav class="grid">
    <div class="nav-toggle col-6of10Copy">
     <a href="#" id="menuText">Menu</a>
   </div>
   
   <div class="col-6of10">
    <a href="projects.html">Projects</a>
  </div>

  <div class="col-6of10">
    <a href="consultation.html" class="green">Design Consultation</a>
  </div>

  <div class="col-6of10">
    <a href="store.html" class="orange">Store</a>
  </div>

  <div class="col-6of10">
    <a href="about.html" class="purple">About us</a>
  </div>


  <div class="col-6of10">
    <a href="login.html" class="red">Log In</a>
  </div>
  
  <div class="col-6of10">
    <a href="reviewOrder.html" class="red">Cart</a>
  </div>

</nav>

<section>
  <div>
   <div class = "col-5of10">
    <h2>Login</h2>
    <p>Username</p>
    <p><input type="text" name="username" class = "textBox" value=""></p>
    <p>Password</p>
    <p><input type="text" name="password" class = "textBox" value=""></p>
    <p><a class="button" href="#">Login</a></p>
    <p><a class = "colorText" href = "" >Reset Password</a></p>
  </div>
  
  <div class = "col-5of10">
    <h2>Register</h2>
    <p>Username</p>
    <p><input type="text" name="username" class = "textBox" value=""></p>
    <p>Email</p>
    <p><input type="text" name="email" class = "textBox" value=""></p>
    <p>Password</p>
    <p><input type="text" name="password" class = "textBox" value=""></p>
    <p>Repeat Password</p>
    <p><input type="text" name="password" class = "textBox" value=""></p>
    <p><a class="button" href="#">Register</a></p>
  </div>
</div>
</section>

<section>
	<nav class="grid">
		<div class = "col-3of10-footer"><a href="#">About</a></div>
		<div class = "col-3of10-footer"><a href="#">Terms and Service</a></div>
		<div class = "col-3of10-footer"><a href="#">Business</a></div>
	</nav>
	<p class="footer">© 2015 The Terrace</p>
</section>
	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>

</body>
</html>
