<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Log In</title>
    <link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id = "logo">
        <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

	
  <nav class="grid">

        <div class="col-2of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-2of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-2of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-2of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-2of10">
          <a href="login.html" class="red">Log In</a>
        </div>

  </nav>

	<section>
		<div>
			<div class = "col-5of10">
				<h2>Login</h2>
				<p>Username</p>
				<p><input type="text" name="username" class = "textBox" value=""></p>
				<p>Password</p>
				<p><input type="text" name="password" class = "textBox" value=""></p>
				<a class="button" href="#">Login</a>
				<a class = "colorText" href = "" >Reset Password</a>
			</div>
			
			<div class = "col-5of10">
				<h2>Register</h2>
				<p>Username</p>
				<p><input type="text" name="username" class = "textBox" value=""></p>
				<p>Email</p>
				<p><input type="text" name="email" class = "textBox" value=""></p>
				<p>Password</p>
				<p><input type="text" name="password" class = "textBox" value=""></p>
				<p>Repeat Password</p>
				<p><input type="text" name="password" class = "textBox" value=""></p>
				<a class="button" href="#">Register</a>
			</div>
		</div>
	</section>
	
	
	
  </body>
</html>
