<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Terrace: Projects</title>
    <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>
  
  <nav class="grid">
		<div class="nav-toggle col-6of10Copy">
			<a href="#" id="menuText">Menu</a>
		</div>

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html">Log In</a>
        </div>

		<div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>
  </nav>
  
	<section>

    <div class = "grid">
		<h2>Projects</h2>
      <div class="col-3of10">
        <a href="project1.html"><img class="indexFeatureImage" src="img/project1.jpg" alt = "home"></a>
		<h2>Vertical House</h2>
		<p>Vertical House is a small apartment complex situated in the busy city of New York.</p>
      </div>

      <div class = "col-3of10">
        <a href="project1.html"><img class="indexFeatureImage" src="img/project2.jpg" alt = "home"></a>
		<h2>Smart House</h2>
		<p>Smart House is a full functioning computer controlled house.</p>
      </div>
       
       <div class = "col-3of10">
          <a href="project1.html"><img class="indexFeatureImage" src="img/project3.jpg" alt = "home"></a>
		  <h2>Hammer Towers</h2>
		  <p>Hammer Towers is the headquarters of the famous Hammer Industries.</p>
        </div>
    </div>
  </section>
  
<section>
	<nav class="grid">
		<div class = "col-3of10-footer"><a href="#">About</a></div>
		<div class = "col-3of10-footer"><a href="#">Terms and Service</a></div>
		<div class = "col-3of10-footer"><a href="#">Business</a></div>
	</nav>
	<p class="footer">© 2015 The Terrace</p>
</section>

	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
	
  </body>
</html>