<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Projects</title>
    <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>
  
  <nav class="grid">

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html">Log In</a>
        </div>

		<div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>
  </nav>
  
	<section>

    <div class = "grid">

      <div class="col-3of10">
        <a href="project1.html" ><img src="img/project1.jpg" alt= "project1"></a>
      </div>

      <div class = "col-3of10">
         <a href="project2.html"><img src="img/project2.jpg" alt= "project2"></a>
      </div>
       
       <div class = "col-3of10">
          <a href="project3.html"><img src="img/project3.jpg" alt = "project3"></a>
        </div>
    </div>
  </section>
  </body>
</html>