<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Consultation</title>
    <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>

  
  <nav class="grid">

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html" class="red">Log In</a>
        </div>
		
        <div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>
  </nav>
  
    <section class = "grid">
      <div class= "col-5of10">
        <img src="img/project1.jpg" alt = "consult">
      </div>

      <div class= "col-5of10">
       <h2>Vertical House</h2>
       <p>Designer: Kengo Kuma</p>
       <p>Year: 2014</p>
       <p>Japanese design brand MUJI has taken a bold step into architectural territory. A few years after a collaboration with Kengo Kuma to design two prefab houses, the company has come forth with a Vertical House in Tokyo. Streamlined and efficient, the home accommodates all the demands of residential living within a small plot of land.</p>
       </div>
    </section>
     
  </body>
</html>