<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Cart</title>
    <link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>

	
  <nav class="grid">

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html" class="red">Log In</a>
        </div>
		
		<div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>

  </nav>
  

	<section>
		<h2>Review Order</h2>
		<div class = "grid">
        <div class = "col-2of10">
            <a class = "thumbnail" href="#"><img src="img/chair.jpg" alt= "chair"></a>
        </div>
			
      <div class = "col-2of10">
        <p>Chair</p>
      </div>
			
      <div class = "col-2of10">
           <p>Quantity<input type="text" name="username" value=""></p>
      </div>			
     
      <div class = "col-2of10">
        <p><a class="button" href="#">Update</a></p>
        <p><a class = "colorText" href = "#">Remove</a></p>
      </div>
			
      <div class = "col-2of10">
          <p>Total : $25</p>
      </div>
			
		</div>
		
	</section>

	<section>
		<div>
			<p>Subtotal</p>
			<p>Tax</p>
			<p>Shipping</p>
			<p class = "underlineTotal">Total</p>
			
			<a class="button" href="billing.html">Continue to Checkout</a>
		</div>
	</section>
  </body>
</html>
