<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <title>The Terrace: Cart</title>
    <link href="css/main.css" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id = "logo">
       <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

	
    <nav>
      <ul class = "navbar">
        <li><a href="projects.html" class= "menu">Projects</a></li>
        <li><a href="consultation.html" class= "menu">Design Consultation</a></li>
        <li><a href="#" class= "menu">Store</a></li>
        <li><a href="about.html" class= "menu">About us</a></li>
        <li><a href="reviewOrder.html" class= "menu">Cart</a></li>
        <li><a href="login.html" class= "menu">Log In</a></li>
      </ul>
	</nav>

	<section>
		<h2>Review Order</h2>
		<div>
			<a class = "thumbnail" href="#"><img src="img/render1.jpg" alt= "interior"></a>
			<h3 class="oneLine">Chair</h3>
			<p class="oneLine">Quantity<input type="text" name="username" value=""></p>
			<a class="oneLine button" href="#">Update</a>
			<a class = "colorText oneLine" href = "#" style="text-decoration: none">Remove</a>
			<p class="oneLine">Total : $1100</p>
		</div>
		
		<!-- <div style="oneLine">
			<a id = "thumbnail" href="#"><img src="img/render1.jpg" alt= "interiror"></a>
			<h3>A Chair</h3>
			<p>Quantity<input type="text" name="username" class = "textBox" value=""></p>
			<a class="button" href="#">Update</a>
			<a class = "colorText" href = "" style="text-decoration: none">Remove</a>
			<p>Total : $1100</p>
		</div> -->
		<table>
			<tr>
				<td><a id = "thumbnail" href="#"><img src="img/chair.jpg" alt= "interiror"></a></td>
				<td><p>A Chair</p></td>
				<td><p>Quantity<input type="text" name="username" class = "textBox" value=""></p></td>
				<td><a class="button" href="#">Update</a></td>
				<td><a class = "colorText" href = "" style="text-decoration: none">Remove</a></td>
				<td><p>Total : $60</p></td>
			</tr>
		</table>
	</section>

	<section>
		<div>
			<p>Subtotal</p>
			<p>Tax</p>
			<p>Shipping</p>
			<p class = "underlineTotal">Total</p>
			
			<a class="button" href="billing.html">Continue to Checkout</a>
		</div>
	</section>
  </body>
</html>
