<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Terrace: Store</title>
    <link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>

	
  <nav class="grid">
		<div class="nav-toggle col-6of10Copy">
			<a href="#" id="menuText">Menu</a>
		</div>

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html" class="red">Log In</a>
        </div>
		
		    <div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>

  </nav>
  
	
	<!-- Row 1 -->
	<section>
	<h2>Store</h2>
		<div class = "grid">
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/lamp1.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Simple Lamp</h2>
				<p>$250</p>
				<p>Simple Lamp made of nice plasic.</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div>
			
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/project4.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Work Table</h2>
				<p>$50</p>
				<p>Work table with needles for drugs.</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div>
			
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/chair3.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Chair</h2>
				<p>$25</p>
				<p>Simple chair that made by maple wood and plastic</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div> 
		</div>
	
	<!-- Row 2 -->
		<div class = "grid">
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/lamp1.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Simple Lamp</h2>
				<p>$250</p>
				<p>Simple Lamp made of nice plasic.</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div>
			
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/project4.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Work Table</h2>
				<p>$50</p>
				<p>Work table with needles for drugs.</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div>
			
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/chair3.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Chair</h2>
				<p>$25</p>
				<p>Simple chair that made by maple wood and plastic</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div> 
		</div>
	
	<!-- Row 3 -->
		<div class = "grid">
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/lamp1.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Simple Lamp</h2>
				<p>$250</p>
				<p>Simple Lamp made of nice plasic.</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div>
			
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/project4.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Work Table</h2>
				<p>$50</p>
				<p>Work table with needles for drugs.</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div>
			
			<div class = "col-3of10">
				<a class = "thumbnail" href="detailedProduct.html"><img src="img/chair3.jpg" alt= "chair" class="indexFeatureImage"></a>
				<h2>Chair</h2>
				<p>$25</p>
				<p>Simple chair that made by maple wood and plastic</p>
				<p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
			</div> 
		</div>
	</section>
  
	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
  </body>
</html>
