<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Terrace: Store</title>
    <link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/grid.css">

   <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "grid">
        <div class = "col-4of10">
          <a href="index.html"><img src="img/logo.png" alt="logo"></a>
        </div>
        
    </div>

	
  <nav class="grid">
		<div class="nav-toggle col-6of10Copy">
			<a href="#" id="menuText">Menu</a>
		</div>

        <div class="col-6of10">
          <a href="projects.html">Projects</a>
        </div>

        <div class="col-6of10">
          <a href="consultation.html" class="green">Design Consultation</a>
        </div>

        <div class="col-6of10">
          <a href="store.html" class="orange">Store</a>
        </div>

        <div class="col-6of10">
          <a href="about.html" class="purple">About us</a>
        </div>


        <div class="col-6of10">
          <a href="login.html" class="red">Log In</a>
        </div>
		
		    <div class="col-6of10">
          <a href="reviewOrder.html" class="red">Cart</a>
        </div>

  </nav>
  

	<section>
		<h2>Store</h2>
		<div class = "grid">
        <div class = "col-2of10">
            <a class = "thumbnail" href="#"><img src="img/chair2.jpg" alt= "chair"></a>
        </div>
			
        <div class = "col-2of10">
            <p>Chair</p>
        </div>
			
      <div class = "col-2of10">
           <p>$25</p>
      </div>			
     
      <div class = "col-2of10">
          <p>Simple chair that made by maple wood</p>
      </div>
			
      <div class = "col-2of10">
           <p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
      </div>
		</div>
		
	</section>

  <section>
    <div class = "grid">
        <div class = "col-2of10">
            <a class = "thumbnail" href="#"><img src="img/table1.jpg" alt= "table"></a>
        </div>
      
        <div class = "col-2of10">
            <p>Table</p>
        </div>
      
      <div class = "col-2of10">
           <p>$80</p>
      </div>      
     
      <div class = "col-2of10">
          <p>Zen Style of Table made by Bamboo</p>
      </div>
      
      <div class = "col-2of10">
           <p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
      </div>
    </div>
    
  </section>

  <section>
    <div class = "grid">
        <div class = "col-2of10">
            <a class = "thumbnail" href="#"><img src="img/lamp.jpg" alt= "table"></a>
        </div>
      
        <div class = "col-2of10">
            <p>Lamp</p>
        </div>
      
      <div class = "col-2of10">
           <p>$10</p>
      </div>      
     
      <div class = "col-2of10">
          <p>Simple Style of Lamp</p>
      </div>
      
      <div class = "col-2of10">
           <p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
      </div>
    </div>
    
  </section>

  <section>
    <div class = "grid">
        <div class = "col-2of10">
            <a class = "thumbnail" href="#"><img src="img/lamp1.jpg" alt= "table"></a>
        </div>
      
        <div class = "col-2of10">
            <p>Lamp</p>
        </div>
      
      <div class = "col-2of10">
           <p>$250</p>
      </div>      
     
      <div class = "col-2of10">
          <p>Simple Style of Lamp</p>
      </div>
      
      <div class = "col-2of10">
           <p><a class="button" href="reviewOrder.html">Add to Cart</a></p>
      </div>
    </div>
    
  </section>
  
	<script src="js/jquery.js"></script>
	<script src="js/hamburger.js"></script>
  </body>
</html>
