<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <title>The Terrace: Billing</title>
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="css/grid.css">

  <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class = "grid">
    <div class = "col-4of10">
      <a href="index.html"><img src="img/logo.png" alt="logo"></a>
    </div>

  </div>

  <div class="ham"></div>
  
  <nav class="grid">
    <div class="nav-toggle col-6of10Copy">
     <a href="#" id="menuText">Menu</a>
   </div>

   <div class="col-6of10">
    <a href="projects.html">Projects</a>
  </div>

  <div class="col-6of10">
    <a href="consultation.html" class="green">Design Consultation</a>
  </div>

  <div class="col-6of10">
    <a href="store.html" class="orange">Store</a>
  </div>

  <div class="col-6of10">
    <a href="about.html" class="purple">About us</a>
  </div>


  <div class="col-6of10">
    <a href="login.html" class="red">Log In</a>
  </div>

  <div class="col-6of10">
    <a href="reviewOrder.html" class="red">Cart</a>
  </div>

</nav>

<section>
  <h2>Thank you for shopping at Terrace Furniture Studio</h2>
  <div>
  <p>An email receipt has been emailed to your address. You will be redirect to the home page shortly.</p>
  <a href="index.html"><p>Click here if this page does not redirect you.</p></a>
  </div>

</section>
<section>
<nav class="grid">
  <div class = "col-4of10"><a href="#">About</a></div>
  <div class = "col-4of10"><a href="#">Terms and Service</a></div>
  <div class = "col-4of10"><a href="#">Business</a></div>
  <div class = "col-4of10"><p>© 2015 The Terrace</p></div> 
</nav>

</section>


<script src="js/jquery.js"></script>
<script src="js/hamburger.js"></script>
<script src="js/redirect.js"></script>
</body>

</html>
